<!-- ###FULLDOC### begin -->
<div class="typo3-fullDoc ###EXTRACONTAINERCLASS###">
    <div id="typo3-docheader">
        <div class="typo3-docheader-functions">
            <div class="left">###CSH###</div>
            <div class="right">###PAGEPATH###</div>
        </div>
        <div class="typo3-docheader-buttons">
            <div class="left">###BUTTONLIST_LEFT###</div>
            <div class="right">###BUTTONLIST_RIGHT###</div>
        </div>
    </div>
    
    <div id="typo3-docbody">
        <div id="typo3-inner-docbody">
            ###HEADER###
            <div class="table-responsive localizer-matrix-configurator">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <td class="changed-after-translation hover">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-changed-after-translation localizer-legend">
                                    <input type="checkbox" disabled="disabled">Changed after translation
                                </label>&nbsp;<label class="btn btn-changed-after-translation active">
                                <input type="checkbox" disabled="disabled">cart
                            </label>
                            </div>
                        </td>
                        <td class="not-translated hover">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-not-translated localizer-legend">
                                    <input type="checkbox" disabled="disabled">Not translated
                                </label>&nbsp;<label class="btn btn-not-translated active">
                                <input type="checkbox" disabled="disabled">cart
                            </label>
                            </div>
                        </td>
                        <td class="sent-to-translation hover">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-sent-to-translation localizer-legend">
                                    <input type="checkbox" disabled="disabled">Sent to translation
                                </label>&nbsp;<label class="btn btn-sent-to-translation active">
                                <input type="checkbox" disabled="disabled">cart
                            </label>
                            </div>
                        </td>
                        <td class="back-from-translation hover">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-back-from-translation localizer-legend">
                                    <input type="checkbox" disabled="disabled">Back from translation
                                </label>&nbsp;<label class="btn btn-back-from-translation active">
                                <input type="checkbox" disabled="disabled">cart
                            </label>
                            </div>
                        </td>
                        <td class="translated hover">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-translated localizer-legend">
                                    <input type="checkbox" disabled="disabled">Translated
                                </label>&nbsp;<label class="btn btn-translated active">
                                <input type="checkbox" disabled="disabled">cart
                            </label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            ###CONTENT###
        </div>
    </div>
</div>
<!-- ###FULLDOC### end -->

<!-- ###BUTTON_GROUP_WRAP### -->
<div class="buttongroup">###BUTTONS###</div>
<!-- ###BUTTON_GROUP_WRAP### -->

<!-- ###BUTTON_GROUPS_LEFT### -->
<!-- ###BUTTON_GROUP1### -->###LEVEL_UP######BACK###<!-- ###BUTTON_GROUP1### -->
<!-- ###BUTTON_GROUP2### --><!-- ###BUTTON_GROUP2### -->
<!-- ###BUTTON_GROUP3### --><!-- ###BUTTON_GROUP3### -->
<!-- ###BUTTON_GROUP4### -->###CSV######EXPORT###<!-- ###BUTTON_GROUP4### -->
<!-- ###BUTTON_GROUPS_LEFT### -->

<!-- ###BUTTON_GROUPS_RIGHT### -->
<!-- ###BUTTON_GROUP1### -->###RELOAD###<!-- ###BUTTON_GROUP1### -->
<!-- ###BUTTON_GROUPS_RIGHT### -->
